<div class="container mt-4">
  <div class="row" *ngIf="weeklyExpenses$ | async">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Weekly Expenses Summary</h4>
          <dx-data-grid
            [dataSource]="weeklyExpenses$ | async"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [rowAlternationEnabled]="true"
            [hoverStateEnabled]="true"
            class="mt-3"
          >
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxi-column dataField="day" sortOrder="asc" caption="Day" [width]="150"></dxi-column>
            <dxi-column dataField="category" caption="Category" [width]="200"></dxi-column>
            <dxi-column dataField="amount" caption="Amount" [width]="150"></dxi-column>

          </dx-data-grid>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body bg-info text-white">
          <div class="d-flex justify-content-between align-items-center">
            <span class="font-weight-bold">Weekly Total:</span>
            <span>{{ weeklyTotal$ | async }}</span>
          </div>
        </div>
      </div>

      <div *ngIf="weeklyBudget$ | async as weeklyBudget" class="card mt-4">
        <div class="card-body bg-success text-white">
          <div class="d-flex justify-content-between align-items-center">
            <span class="font-weight-bold">Weekly Savings:</span>
            <span>{{ weeklyBudget - (weeklyTotal$ | async) }}</span>
          </div>
        </div>
      </div>           
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Your Expense Categories</h4>
          <dx-pie-chart
            [dataSource]="weeklyExpensesByCategory$ | async"
          >
            <dxi-series
              type="doughnut"
              argumentField="category"
              valueField="amount"
            ></dxi-series>
          </dx-pie-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8" *ngIf="(weeklyExpensesByCategory$ | async)?.length == 0">
    <div class="card-body">
      <h4 class="card-title">No expenses have been recorded.</h4>
      <p>Please enter your weekly expenses to view your expense summary.</p>
    </div>
  </div>
</div>